#table-div table {
    background-color: ghostwhite;
}
.controls-div {
    margin: 0px 0px 5px 0px;
    background-color: antiquewhite;
    /*border: solid green 1px;*/
}
.controls-block {
    display: inline-block;
    width: auto;
    height: auto;
    /*border: solid red 1px;*/
}
.controls-block select {
    display: inline-block;
    width: auto;
    height: auto;
    /*border: solid orange 1px;*/
}
.controls-title {
    font-size: 1.75em;
    font-weight: bold;
}
.stats-color-1 {
    color: rgb(51,102,204);
}
.stats-color-2 {
    color: rgb(220,56,17);
}
.stats-color-3 {
    color: rgb(255,153,0);
}
.stats-color-4 {
    color: rgb(13,148,21);
}
.space-right {
    margin-right: 1em;
}
.graph-button {
    margin: 0 1em;
}
