/*-------------------------------------------------*/
/* Major DIVs */
/*-------------------------------------------------*/
#summary-table {
    display: inline-block;
}
#show-controls-div {
    display: block;
    margin: 0 0 4px 0;
    /*background-color: antiquewhite;*/
}
#options-div {
    display: inline-block;
}
#table-div table {
    background-color: ghostwhite;
}
#final-div {
    font-size: 1.5em;
    color: blue;
    background-color: antiquewhite;
    padding: 10px 10px 10px 10px;
};
#legend-div {
    margin: 0 0 20px 0;
}
#button-div {
    margin: 15px 0 0 20px;
}

/*-------------------------------------------------*/
/* Others */
/*-------------------------------------------------*/
.graph-button {
    margin: 0 1em;
}
.space-right {
    margin-right: 1em;
}

/*-------------------------------------------------*/
/* Controls */
/*-------------------------------------------------*/
.controls-title {
    font-size: 1.75em;
    font-weight: bold;
}
.controls-subtitle {
    text-align: center;
    display: inline-block;
    width: 100%;
    color: black;
}
.controls-titled-box {
    border-width: 1px;
    border-style: solid;
}
.controls-div-inline {
    display: inline-block;
    margin: 0px 10px 10px 0px;
    background-color: antiquewhite;
}
.controls-block {
    display: block;
    width: auto;
    height: auto;
    margin: 4px 4px 0px 4px;
}
.controls-block label {
    margin-right: 4px;
}
.controls-block select {
    display: inline-block;
    width: auto;
    height: auto;
}
.controls-block-inline {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 4px 4px 0px 4px;
}
.controls-block-inline label {
    margin-right: 4px;
}
.controls-block-inline select {
    display: inline-block;
    width: auto;
    height: auto;
}

/*-------------------------------------------------*/
/* Colors */
/*-------------------------------------------------*/
.stats-color-1 {color: rgb(51,102,204);}
.stats-color-2 {color: rgb(220,56,17);}
.stats-color-3 {color: rgb(255,153,0);}
.stats-color-4 {color: rgb(13,148,21);}
.stats-color-Reset {color: black;}
